*{
    margin: 0;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  

}
.dropbtn {
    font-size: 16px;
    border: none;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    background-color: rgb(59, 51, 51);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 11px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropbtn{
    padding: 0px;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  
  .dropbtn:hover {
    background-color: rgba(0, 0, 0, 0.25); color: white;}
  .dropdown-content a:hover{
    background-color: rgba(0,0,0,0.3);}

:root {
  color-scheme: light dark;
}

#mode:hover{
  content: url('/imigas/sun-3337.png');
}

#Css_mode img {
  display: block;
  height: 30px;  
  width: 30px;
  margin: 5px;
}

#right-topbar {
  width: 150;
  height: auto;
  display: flex;
  align-items: center;
}